<library path="src">
  <class name="RoboTeam world view" type="rqt_world_view.rqt_world_view.WorldViewPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      An example Python GUI plugin to create a great user interface.
    </description>
    <qtgui>
      <group>
        <label>RoboTeam Twente</label>
        <icon type="file">icon.png</icon>
      </group>
      <!-- optional grouping...
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>RoboTeam world view</label>
      <statustip>Great user interface to provide real value.</statustip>
      <icon type="file">WorldView.png</icon>
    </qtgui>
  </class>
</library>
